# Byte-compiled / optimized
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/
.env/

# IDE
.vscode/
.idea/
.hyperion/

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local

# Distribution
dist/
*.egg-info/
build/

docs/

# Pytest / Coverage
.coverage
.pytest_cache/
htmlcov/